<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.elsewhat.reddit" android:versionCode="15"
	android:versionName="1.11"
	android:installLocation="auto"
	
	>
	<application android:icon="@drawable/reddittv_logo"
		android:label="@string/app_name"
		android:theme="@style/Theme.Normal">
		<activity android:name=".RedditTV" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".RedditTVPreferences" android:label="@string/app_name_preferences">
		</activity>
		
		<activity android:name="RedditTVSubredditsPreferences" android:label="@string/app_name_preferences">
		</activity>

	</application>
	<uses-sdk android:minSdkVersion="5" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
</manifest> 